mod_sftp needs to handle unknown SSH messages in an RFC-compliant manner, ignoring rather than disconnecting

Similar to #782. 

```
client (0.0.0.55:53132) connected to server (0.0.0.6:2223)
sent server version 'SSH-2.0-mod_sftp'
received client version 'SSH-2.0-OpenSSH_8.1'
handling connection from SSH2 client 'OpenSSH_8.1'
 + Session key exchange: curve25519-sha256@libssh.org
 + Session server hostkey: rsa-sha2-512
 + Session client-to-server encryption: aes128-ctr
 + Session server-to-client encryption: aes128-ctr
 + Session client-to-server MAC: umac-128-etm@openssh.com
 + Session server-to-client MAC: umac-128-etm@openssh.com
 + Session client-to-server compression: none
 + Session server-to-client compression: none
sending acceptable userauth methods: publickey,password
public key SHA256 fingerprint: xx:xx...
sending publickey OK
unhandled (unknown) (106) message, disconnecting
disconnecting 0.0.0.55 (Unsupported protocol sequence)
```

### ProFTPD Version and Configuration

```
# pacman -Q proftpd; proftpd -V
proftpd-git 1.3.8rc2.r112.g6c1b19424-1
Compile-time Settings:
  Version: 1.3.8rc3 (git)
  Platform: LINUX [Linux 5.15.31-1-lts x86_64]
  OS/Release:
    NAME="Arch Linux"
    PRETTY_NAME="Arch Linux"
    ID=arch
    BUILD_ID=rolling
  Built: Mon Mar 28 2022 01:55:23 UTC
  Built With:
    configure  '--prefix=/usr' '--sbindir=/usr/bin' '--libexecdir=/usr/lib' '--disable-pam' '--with-modules=mod_digest:mod_sftp:mod_quotatab:mod_quotatab_sql:mod_quotatab_file:mod_tls:mod_tls_shmcache:mod_sql:mod_sql_mysql:mod_sql_postgres:mod_facl:mod_dynmasq' '--sysconfdir=/etc' '--localstatedir=/run/proftpd' '--enable-ctrls' '--enable-ipv6' '--with-includes=/usr/include/mysql:/usr/include/postgresql' '--with-libraries=/usr/lib/mysql:/usr/lib/postgresql' '--enable-nls' '--enable-redis' '--enable-facl' '--with-systemd' 'CFLAGS=-march=x86-64 -mtune=generic -O2 -pipe -fno-plt -fexceptions         -Wp,-D_FORTIFY_SOURCE=2 -Wformat -Werror=format-security         -fstack-clash-protection -fcf-protection  -DOPENSSL_NO_DSA' 'LDFLAGS=-Wl,-O1,--sort-common,--as-needed,-z,relro,-z,now' 'CXXFLAGS=-march=x86-64 -mtune=generic -O2 -pipe -fno-plt -fexceptions         -Wp,-D_FORTIFY_SOURCE=2 -Wformat -Werror=format-security         -fstack-clash-protection -fcf-protection -Wp,-D_GLIBCXX_ASSERTIONS'

  CFLAGS: -g2 -march=x86-64 -mtune=generic -O2 -pipe -fno-plt -fexceptions         -Wp,-D_FORTIFY_SOURCE=2 -Wformat -Werror=format-security         -fstack-clash-protection -fcf-protection  -DOPENSSL_NO_DSA -Wall -fno-omit-frame-pointer -fno-strict-aliasing
  LDFLAGS: -Wl,-L$(top_srcdir)/lib,-L$(top_builddir)/lib -Wl,-O1,--sort-common,--as-needed,-z,relro,-z,now -rdynamic -L/usr/lib/postgresql -L/usr/lib/mysql -L/usr/lib/ -L/usr/lib
  LIBS:  -lssl -lcrypto -lsodium -lcap  -lpq  -lm -lmysqlclient -lz  -lssl  -lpam  -lcrypto -lattr -lcrypt -lhiredis  -pthread

  Files:
    Configuration File:
      /etc/proftpd.conf
    Pid File:
      /run/proftpd/proftpd.pid
    Scoreboard File:
      /run/proftpd/proftpd.scoreboard

  Info:
    + Max supported UID: 4294967295
    + Max supported GID: 4294967295

  Features:
    - Autoshadow support
    + Controls support
    + curses support
    - Developer support
    - DSO support
    + IPv6 support
    + Largefile support
    - Lastlog support
    - Memcache support
    + ncursesw support
    + NLS support
    + OpenSSL support (OpenSSL 1.1.1n  15 Mar 2022)
    - PCRE support
    - PCRE2 support
    + POSIX ACL support
    + Redis support
    + Sendfile support
    + Shadow file support
    + Sodium support
    + Trace support
    + xattr support

  Tunable Options:
    PR_TUNABLE_BUFFER_SIZE = 1024
    PR_TUNABLE_DEFAULT_RCVBUFSZ = 8192
    PR_TUNABLE_DEFAULT_SNDBUFSZ = 8192
    PR_TUNABLE_ENV_MAX = 2048
    PR_TUNABLE_GLOBBING_MAX_MATCHES = 100000
    PR_TUNABLE_GLOBBING_MAX_RECURSION = 8
    PR_TUNABLE_HASH_TABLE_SIZE = 40
    PR_TUNABLE_LOGIN_MAX = 256
    PR_TUNABLE_NEW_POOL_SIZE = 512
    PR_TUNABLE_PATH_MAX = 4096
    PR_TUNABLE_SCOREBOARD_BUFFER_SIZE = 80
    PR_TUNABLE_SCOREBOARD_SCRUB_TIMER = 30
    PR_TUNABLE_SELECT_TIMEOUT = 30
    PR_TUNABLE_TIMEOUTIDENT = 10
    PR_TUNABLE_TIMEOUTIDLE = 600
    PR_TUNABLE_TIMEOUTLINGER = 10
    PR_TUNABLE_TIMEOUTLOGIN = 300
    PR_TUNABLE_TIMEOUTNOXFER = 300
    PR_TUNABLE_TIMEOUTSTALLED = 3600
    PR_TUNABLE_XFER_SCOREBOARD_UPDATES = 10
```


Can you provide the `SFTPLog`, and/or `TraceLog` with the `ssh2`, `sftp` channels?  And what was the OpenSSH command you used?  I'd like to see if I can reproduce this locally.  Thanks!

I don't control the client so no command line for now. The client is using an automatic login and may have used a keystore, maybe related to this error [SSH Packet Type 106](https://superuser.com/questions/1457446/ssh-rsa-key-login-fails-sshing-to-cisco-devices-after-aix-updated-to-7-1-102-11).

I downloaded the Fedora 31 Workstation Live ISO in hopes a close version would replicate the problem. I get the same disconnect from OpenSSH 8.0 just without the 106 error message.

The same server runs on port 2222-2224.

```
client (0.0.0.205:48392) connected to server (128.0.0.6:2224)
sent server version 'SSH-2.0-mod_sftp'
received client version 'SSH-2.0-OpenSSH_8.0'
handling connection from SSH2 client 'OpenSSH_8.0'
 + Session key exchange: curve25519-sha256@libssh.org
 + Session server hostkey: ssh-ed25519
 + Session client-to-server encryption: aes256-gcm@openssh.com
 + Session server-to-client encryption: aes256-gcm@openssh.com
 + Session client-to-server MAC: hmac-sha2-256-etm@openssh.com
 + Session server-to-client MAC: hmac-sha2-256-etm@openssh.com
 + Session client-to-server compression: none
 + Session server-to-client compression: none
sending acceptable userauth methods: publickey,password
```

```
sftp -P 2222 chris@0.0.0.6
chris@0.0.0.6's password:
Connection closed by 0.0.0.6 port 2222
Connection closed.
Connection closed
```

Then when I update OpenSSH to 8.1, I get the same disconnect without the 106 error.

```
client (0.0.0.205:60904) connected to server (0.0.0.6:2222)
sent server version 'SSH-2.0-mod_sftp'
received client version 'SSH-2.0-OpenSSH_8.1'
handling connection from SSH2 client 'OpenSSH_8.1'
 + Session key exchange: curve25519-sha256
 + Session server hostkey: ssh-ed25519
 + Session client-to-server encryption: aes256-gcm@openssh.com
 + Session server-to-client encryption: aes256-gcm@openssh.com
 + Session client-to-server MAC: hmac-sha2-256-etm@openssh.com
 + Session server-to-client MAC: hmac-sha2-256-etm@openssh.com
 + Session client-to-server compression: none
 + Session server-to-client compression: none
sending acceptable userauth methods: publickey,password
```

```
sftp -P 2222 chris@0.0.0.6
chris@128.0.0.6's password:
Connection closed by 0.0.0.6 port 2222
Connection closed
```

[sftp#2222-trace-2022-03-1641223.log.zip](https://github.com/proftpd/proftpd/files/8365786/sftp.2222-trace-2022-03-1641223.log.zip)




Filezilla and Fedora getting kicked has been found to be `aes256-gcm@openssh.com` or `aes128-gcm@openssh.com` as documented in #1411.

Thanks for digging into this, @severach !

For _this_ particular "unhandled (unknown) message, disconnecting" behavior, I think that updating `mod_sftp` to implement the behavior as specified in [RFC 4253, Section 11.4](https://www.rfc-editor.org/rfc/rfc4253#section-11.4) will be how I address this.  Think it'd be worth backporting such a change?

The client has confirmed that they run AIX and problem is fixed with `AllowPKCS12keystoreAutoOpen=no`. The sftp log matches the [IBM](https://www.ibm.com/support/pages/ibm-aix-sshsftpscp-connections-terminate-packet-processing-error) report.

```
debug1: Sent ALLOW_PKCS12_KEYSTORE_CLIENT_FLAG packet
Received disconnect from 0.0.0.221 port 22:11: Unsupported protocol sequence
```


No worries; thanks for following up with the confirmation that the client in question is using AIX.

This should now be fixed in master.  Thanks!

Client confirms that login works with or without `AllowPKCS12keystoreAutoOpen`.