When using multiple auth methods (e.g., publickey+password), partial success should reduce the available methods to the remaining methods in that chain

### What I Did

When setting SFTPAuthMethods to "publickey+password password+publickey", after accepting one method it does not edit the list of acceptable methods until after re-accepting the first accepted method.  Specifically, after accepting a public key, it then advertises both publickey and password, then rejects the key (since the client will present it again) as having been already accepted before trimming the acceptable auth list to just password.  This will cause authentication to fail if MaxLoginAttempts is set to 1 even if the correct password is eventually given, as the "failed" second public key auth causes the login counter to get incremented.

### What I Expected/Wanted

Login should have worked without having to set either MaxLoginAttempts = 2 or SFTPAuthMethods = "publickey+password" OR "password+publickey".

I don't consider this to be high priority, since in theory it shouldn't matter if dual auth is required to do one or the other first rather than accepting either, but ideally one should be able to allow both orders and limit the login attempts to 1 at the same time.

### ProFTPD Version and Configuration

Please help us reproduce the problem/issue you are encountering.  To do this,
we need to know which version of ProFTPD you are using, how it was built,
_etc_.  The following command is an easy way to get all of this information:
```bash
proftpd -V
Compile-time Settings:
  Version: 1.3.8 (stable)
  Platform: LINUX [Linux 5.14.0-162.12.1.el9_1.x86_64 x86_64]
  OS/Release:
    NAME="Red Hat Enterprise Linux"
    VERSION="9.1 (Plow)"
    ID="rhel"
    ID_LIKE="fedora"
    VERSION_ID="9.1"
    PLATFORM_ID="platform:el9"
    PRETTY_NAME="Red Hat Enterprise Linux 9.1 (Plow)"
    CPE_NAME="cpe:/o:redhat:enterprise_linux:9::baseos"
    
    REDHAT_BUGZILLA_PRODUCT="Red Hat Enterprise Linux 9"
    REDHAT_BUGZILLA_PRODUCT_VERSION=9.1
    REDHAT_SUPPORT_PRODUCT="Red Hat Enterprise Linux"
    REDHAT_SUPPORT_PRODUCT_VERSION="9.1"
  Built: Fri Feb 3 2023 00:00:00 UTC
  Built With:
    configure  '--build=x86_64-redhat-linux-gnu' '--host=x86_64-redhat-linux-gnu' '--program-prefix=' '--disable-dependency-tracking' '--prefix=/usr' '--exec-prefix=/usr' '--bindir=/usr/bin' '--sbindir=/usr/sbin' '--sysconfdir=/etc' '--datadir=/usr/share' '--includedir=/usr/include' '--libdir=/usr/lib64' '--libexecdir=/usr/libexec' '--localstatedir=/var' '--sharedstatedir=/var/lib' '--mandir=/usr/share/man' '--infodir=/usr/share/info' '--libexecdir=/usr/libexec/proftpd' '--localstatedir=/run/proftpd' '--disable-strip' '--enable-ctrls' '--enable-dso' '--enable-facl' '--enable-ipv6' '--enable-memcache' '--enable-nls' '--enable-openssl' '--disable-pcre' '--enable-pcre2' '--disable-redis' '--enable-shadow' '--enable-tests=nonetwork' '--with-libraries=/usr/lib64/mariadb' '--with-includes=/usr/include/mysql' '--with-modules=mod_readme:mod_auth_pam:mod_tls' '--with-shared=mod_sql:mod_sql_passwd:mod_sql_mysql:mod_sql_postgres:mod_sql_sqlite:mod_quotatab:mod_quotatab_file:mod_quotatab_ldap:mod_quotatab_radius:mod_quotatab_sql:mod_ldap:mod_ban:mod_ctrls_admin:mod_facl:mod_load:mod_vroot:mod_radius:mod_ratio:mod_rewrite:mod_site_misc:mod_exec:mod_shaper:mod_wrap2:mod_wrap2_file:mod_wrap2_sql:mod_copy:mod_deflate:mod_ifversion:mod_qos:mod_sftp:mod_sftp_pam:mod_sftp_sql:mod_tls_shmcache:mod_tls_memcache:mod_unique_id:mod_ifsession' 'build_alias=x86_64-redhat-linux-gnu' 'host_alias=x86_64-redhat-linux-gnu' 'CC=gcc' 'CFLAGS=-O2 -flto=auto -ffat-lto-objects -fexceptions -g -grecord-gcc-switches -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -specs=/usr/lib/rpm/redhat/redhat-hardened-cc1 -fstack-protector-strong -specs=/usr/lib/rpm/redhat/redhat-annobin-cc1  -m64 -march=x86-64-v2 -mtune=generic -fasynchronous-unwind-tables -fstack-clash-protection -fcf-protection' 'LDFLAGS=-Wl,-z,relro -Wl,--as-needed  -Wl,-z,now -specs=/usr/lib/rpm/redhat/redhat-hardened-ld -specs=/usr/lib/rpm/redhat/redhat-annobin-cc1 ' 'CXX=g++' 'CXXFLAGS=-O2 -flto=auto -ffat-lto-objects -fexceptions -g -grecord-gcc-switches -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -specs=/usr/lib/rpm/redhat/redhat-hardened-cc1 -fstack-protector-strong -specs=/usr/lib/rpm/redhat/redhat-annobin-cc1  -m64 -march=x86-64-v2 -mtune=generic -fasynchronous-unwind-tables -fstack-clash-protection -fcf-protection'

  CFLAGS: -g2 -O2 -flto=auto -ffat-lto-objects -fexceptions -g -grecord-gcc-switches -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -specs=/usr/lib/rpm/redhat/redhat-hardened-cc1 -fstack-protector-strong -specs=/usr/lib/rpm/redhat/redhat-annobin-cc1  -m64 -march=x86-64-v2 -mtune=generic -fasynchronous-unwind-tables -fstack-clash-protection -fcf-protection -Wall -fno-omit-frame-pointer -fno-strict-aliasing -Werror=implicit-function-declaration
  LDFLAGS: -Wl,-L$(top_srcdir)/lib,-L$(top_builddir)/lib -Wl,-z,relro -Wl,--as-needed  -Wl,-z,now -specs=/usr/lib/rpm/redhat/redhat-hardened-ld -specs=/usr/lib/rpm/redhat/redhat-annobin-cc1  -rdynamic -L/usr/lib64/mariadb -L/usr/lib64/ -L/usr/lib64
  LIBS:  -lpcre2-posix -lpcre2-8 -lssl -lcrypto -lcap  -lssl -lcrypto  -lpam -lattr -lidn2 -lresolv -lresolv -lcrypt -lmemcachedutil -lmemcached  -pthread

  Files:
    Configuration File:
      /etc/proftpd.conf
    Pid File:
      /run/proftpd/proftpd.pid
    Scoreboard File:
      /run/proftpd/proftpd.scoreboard
    Header Directory:
      /usr/include/proftpd
    Shared Module Directory:
      /usr/libexec/proftpd

  Info:
    + Max supported UID: 4294967295
    + Max supported GID: 4294967295

  Features:
    - Autoshadow support
    + Controls support
    + curses support
    - Developer support
    + DSO support
    + IPv6 support
    + Largefile support
    - Lastlog support
    + Memcache support
    + ncursesw support
    + NLS support
    + OpenSSL support (OpenSSL 3.0.1 14 Dec 2021)
    - PCRE support
    + PCRE2 support
    + POSIX ACL support
    - Redis support
    + Sendfile support
    + Shadow file support
    - Sodium support
    + Trace support
    + xattr support

  Tunable Options:
    PR_TUNABLE_BUFFER_SIZE = 1024
    PR_TUNABLE_DEFAULT_RCVBUFSZ = 8192
    PR_TUNABLE_DEFAULT_SNDBUFSZ = 8192
    PR_TUNABLE_ENV_MAX = 2048
    PR_TUNABLE_GLOBBING_MAX_MATCHES = 100000
    PR_TUNABLE_GLOBBING_MAX_RECURSION = 8
    PR_TUNABLE_HASH_TABLE_SIZE = 40
    PR_TUNABLE_LOGIN_MAX = 256
    PR_TUNABLE_NEW_POOL_SIZE = 512
    PR_TUNABLE_PATH_MAX = 4096
    PR_TUNABLE_SCOREBOARD_BUFFER_SIZE = 80
    PR_TUNABLE_SCOREBOARD_SCRUB_TIMER = 30
    PR_TUNABLE_SELECT_TIMEOUT = 30
    PR_TUNABLE_TIMEOUTIDENT = 10
    PR_TUNABLE_TIMEOUTIDLE = 600
    PR_TUNABLE_TIMEOUTLINGER = 10
    PR_TUNABLE_TIMEOUTLOGIN = 300
    PR_TUNABLE_TIMEOUTNOXFER = 300
    PR_TUNABLE_TIMEOUTSTALLED = 3600
    PR_TUNABLE_XFER_SCOREBOARD_UPDATES = 10
```

In addition, we need to see **all** of the ProFTPD configuration files you are
using (**minus** any sensitive information like passwords, of course).  Armed
with the version and configuration data, then, we can set up ProFTPD locally
using the same configuration, and see what happens.

```
# Load modules to extend ProFTPD.  Note that the order below MUST be kept!
LoadModule              mod_ifsession.c
LoadModule              mod_wrap2.c
LoadModule              mod_wrap2_sql.c
LoadModule              mod_sql.c
LoadModule              mod_sql_mysql.c
LoadModule              mod_exec.c
LoadModule              mod_exec_mqueue.c
LoadModule              mod_sftp.c
LoadModule              mod_sftp_sql.c

# Basic server setup for a standalone server.
ServerType              standalone
# Port 21 is the standard FTP port.
Port                    21
# Specify the server IP.
DefaultAddress          <IP>
# Specify the name of the server.
ServerName              <servername>
# Disable IPv6
UseIPv6                 off
# Disable Reverse DNS lookups - we only care about the client IP address.
UseReverseDNS           off
# Don't use GMT
TimesGMT                off
# To prevent DoS attacks, set the maximum number of child processes
# to 30.  If you need to allow more than 30 concurrent connections
# at once, simply increase this value.  Note that this ONLY works
# in standalone mode, in inetd mode you should use an inetd server
# that allows you to limit maximum number of processes per service
# (such as xinetd).
MaxInstances            101
MaxClients              100

<Global>
        Trace DEFAULT:10 ssh2:20 sftp:20 ifsession:20 auth.pam:20
        TraceLog /var/log/proftpd/trace.log
# Security settings
# Set the normal user and group permissions for the server.
User                    ftp
Group                   ftp
# Drop root privs right away.
RootRevoke              on
# Show an empty server identification string for security purposes.
ServerIdent             on "FTP Server ready."
# Login banner
DisplayConnect          /etc/ssh/login-banner
# Chroot jail all users to their home directory.
DefaultRoot             ~
# Do not allow .ftpaccess files to override settings.
AllowOverride           off
# Umask 007 makes things group writable for automation purposes, and
# prevents world access.
Umask                   0007
# Allow 60 seconds to authenticate after connection or the client is a
# disconnected.
TimeoutLogin            60
# Allow 10 minutes of inactivity before a client is disconnected.
TimeoutIdle             600
TimeoutNoTransfer       600
# Disconnect the user after a single failed password.
MaxLoginAttempts        5
# Disable the SITE CHGRP and SITE CHMOD commands, and active mode connections.
<Limit SITE_CHGRP SITE_CHMOD PORT>
        DenyAll
</Limit>
# Allow files in /data/ftp to be overwritten.
<Directory /data/ftp>
        AllowOverwrite  on
        PathDenyFilter  [\x01-\x1f\x7f"*:<>?\|]
</Directory>
# Allow uploads to be restarted.
AllowStoreRestart       on

# Global Logging
# 
# Custom log format similar to the NcFTPd logs.
LogFormat               custom "%a %t %u \"%r\" %s %b"
# Log all commands, including EXIT, using the custom log format.
ExtendedLog             /var/log/proftpd/proftpd.log ALL,EXIT custom

# Authentication
# wtmp logging is irrelevant as all FTP users are virtual.
WtmpLog                 off
# Do not allow PAM users for the same reasons.
AuthPAM                 off
# /etc/ftpusers is irrelevant as no system users are permitted.
UseFtpUsers             off
# Do not require users to have a valid shell because they are virtual.
RequireValidShell       off
# Use the SQL database as the only authentication source.
AuthOrder               mod_sql.c

# SQL parameters for mysql/mariadb.
SQLBackend              mysql
# Only use the SQL engine for authentication
SQLEngine               auth
# Log file for the SQL module.
SQLLogFile              /var/log/proftpd/sql.log
# SQL Connection info.
SQLConnectInfo          ftp_state <dbuser> <dbpass>
# SQL module options
SQLOptions              IgnoreConfigFile
# Use the system crypt(3) to check passwords.
SQLAuthTypes            Crypt
# Only do user lookups via SQL.
SQLAuthenticate         users groups groupset
# UID/GID for all virtual users (ftp/ftp).
SQLDefaultUID           14
SQLDefaultGID           50
# User accounts table (view) and fields for user auth info.  NOTE: This view
# contains the necessary where clauses to determine if a user if active on the
# server.
SQLUserInfo             ftp_userinfo username password sftp_uid NULL homedir NULL
SQLGroupInfo            ftp_groupinfo groupname gid members
# Named queries used to determine what IP addresses a client is permitted
# to connect from.  Used by mod_wrap2, below.
SQLNamedQuery           get-allowed-clients FREEFORM "CALL allowedIPList('%u')"
SQLNamedQuery           get-denied-clients SELECT "'ALL'"

# IP-based access control using mod_wrap2.
WrapEngine              on
# Log file for the IP wrapper module.
WrapLog                 /var/log/proftpd/wrap.log
# Check all users for IP restrictions using the SQLNamedQuery definitions
# above.
WrapUserTables          * sql:/get-allowed-clients sql:/get-denied-clients
# Messager sent to the client when they are allowed access from the
# remote IP.
WrapAllowMsg            "User '%u' allowed by access rules"
# Message sent to the client when the user is denied access due to IP
# restrictions.
WrapDenyMsg             "User '%u' denied by access rules"

# Execute system commands after specific FTP commands (event triggers).
ExecEngine              on
# Log file for the execution module.
ExecLog                 /var/log/proftpd/exec.log
# SysV IPC Message Queue key for triggers.
ExecMqueueKey           0x78c0ffee
# SysV IPC message type for triggers.
ExecMqueueType          1
# Trigger format (emulate NcFTPd's event format).
ExecMqueueFormat        ncftpd
# Timeout value if the message queue is full.
ExecMqueueTimeout       5
# Don't remove the message queue on exit.
ExecMqueueCleanup       off
# Successful login.
ExecOnCommand           PASS mqueue: "LOGIN" "%U" "bogus" "%{time:%s}" "%v" "%a"
# Failed login.
ExecOnError             PASS mqueue: "FAILEDAUTH" "%U" "bogus" "%{time:%s}" "%v" "%a" "FTP"
# Logout.
ExecOnCommand           QUIT mqueue: "LOGOUT" "%U" "bogus" "%{time:%s}" "%v" "%a"
# Successful file upload.
ExecOnCommand           STOR mqueue: "UPLOAD" "%U" "bogus" "%{time:%s}" "%v" "%a" "%f" "%b" "bogus" "bogus" "bogus" "OK"
# Failed file upload.
ExecOnError             STOR mqueue: "UPLOAD" "%U" "bogus" "%{time:%s}" "%v" "%a" "%f" "%b" "bogus" "bogus" "bogus" "ERROR"
# Successful file download.
ExecOnCommand           RETR mqueue: "DOWNLOAD" "%U" "bogus" "%{time:%s}" "%v" "%a" "%f" "%b" "bogus" "bogus" "bogus" "OK"
# Failed file download.
ExecOnError             RETR mqueue: "DOWNLOAD" "%U" "bogus" "%{time:%s}" "%v" "%a" "%f" "%b" "bogus" "bogus" "bogus" "ERROR"
# File rename.
ExecOnCommand           RNTO mqueue: "RENAME" "%U" "bogus" "%{time:%s}" "%v" "%a" "%w" "X" "%f"

<Class internal>
        From 127.0.0.1
        From 172.16.0.0/12
</Class>

<IfModule mod_delay.c>

  <IfClass internal>
    DelayEngine off
  </IfClass>

  <IfClass !internal>
    DelayEngine on
  </IfClass>

</IfModule>

</Global>

<IfModule mod_sftp.c>
  <VirtualHost 0.0.0.0>

        SFTPEngine on
        Port 44
        SFTPLog /var/log/proftpd/sftp.log
        SFTPDisplayBanner /etc/ssh/login-banner

        AuthPAM on
        AuthOrder mod_sql.c
        SFTPHostKey /data/hostkeys/ssh_host_ecdsa_key
        SFTPHostKey /data/hostkeys/ssh_host_rsa_key

        #SFTPAuthMethods publickey+password password+publickey
        SFTPAuthMethods password publickey
        SFTPOptions IgnoreSFTPUploadPerms IgnoreSFTPSetExtendedAttributes IgnoreSFTPSetOwners IgnoreSFTPSetPerms IgnoreSFTPSetTimes IgnoreSFTPUploadExtendedAttributes
        SFTPRekey required
        SFTPTrafficPolicy medium

        SFTPCiphers aes256-ctr aes192-ctr aes128-ctr aes256-gcm@openssh.com aes128-gcm@openssh.com
        SFTPDigests hmac-sha2-256 hmac-sha2-256-etm@openssh.com hmac-sha2-512 hmac-sha2-512-etm@openssh.com umac-128@openssh.com umac-128-etm@openssh.com 
        SFTPKeyLimits MinimumRSASize 2048 MinimumECSize 256
        SFTPKeyExchanges curve448-sha512 ecdh-sha2-nistp521 ecdh-sha2-nistp384 ecdh-sha2-nistp256 diffie-hellman-group18-sha512 diffie-hellman-group16-sha512 diffie-hellman-group14-sha256 diffie-hellman-group-exchange-sha256 

        #SFTPAuthorizedUserKeys file:/data/keys/%u/authorized_keys
        SQLAuthenticate users groups groupset
        SQLUserInfo     sftp_userinfo username password sftp_uid sftp_gid homedir NULL
        SQLGroupInfo    sftp_groupinfo groupname gid members

        <IfGroup twofactor>
            SFTPAuthMethods publickey+password password+publickey
        </IfGroup>


        <IfModule mod_sftp_sql.c>
            SQLNamedQuery get-user-authorized-keys SELECT "public_key FROM sshkeys WHERE username = '%U'"

            SFTPAuthorizedUserKeys sql:/get-user-authorized-keys
        </IfModule>

  </VirtualHost>
</IfModule>
```

Logs with SFTPAuthMethods publickey+password password+publickey:
```
2023-02-23 12:09:27,183 mod_sftp/1.1.1[528459]: using '/data/hostkeys/ssh_host_ecdsa_key' as 256-bit ECDSA hos
tkey (256 bits)
2023-02-23 12:09:27,191 mod_sftp/1.1.1[528459]: client (172.25.4.175:37094) connected to server (172.25.215.94
:44)
2023-02-23 12:09:27,192 mod_sftp/1.1.1[528459]: sent server version 'SSH-2.0-FTP Server ready.'
2023-02-23 12:09:27,192 mod_sftp/1.1.1[528459]: received client version 'SSH-2.0-OpenSSH_7.4'
2023-02-23 12:09:27,192 mod_sftp/1.1.1[528459]: handling connection from SSH2 client 'OpenSSH_7.4'
2023-02-23 12:09:27,193 mod_sftp/1.1.1[528459]:  + Session key exchange: ecdh-sha2-nistp256
2023-02-23 12:09:27,193 mod_sftp/1.1.1[528459]:  + Session host key algorithm: ecdsa-sha2-nistp256
2023-02-23 12:09:27,193 mod_sftp/1.1.1[528459]:  + Session server hostkey: ecdsa-sha2-nistp256
2023-02-23 12:09:27,193 mod_sftp/1.1.1[528459]:  + Session client-to-server encryption: aes128-ctr
2023-02-23 12:09:27,193 mod_sftp/1.1.1[528459]:  + Session server-to-client encryption: aes128-ctr
2023-02-23 12:09:27,193 mod_sftp/1.1.1[528459]:  + Session client-to-server MAC: umac-128-etm@openssh.com
2023-02-23 12:09:27,193 mod_sftp/1.1.1[528459]:  + Session server-to-client MAC: umac-128-etm@openssh.com
2023-02-23 12:09:27,193 mod_sftp/1.1.1[528459]:  + Session client-to-server compression: none
2023-02-23 12:09:27,193 mod_sftp/1.1.1[528459]:  + Session server-to-client compression: none
2023-02-23 12:09:27,201 mod_sftp/1.1.1[528459]: sending acceptable userauth methods: publickey,password
2023-02-23 12:09:27,204 mod_sftp/1.1.1[528459]: public key SHA256 fingerprint: fb:9f:e5:7d:0c:da:01:4f:19:8c:8
7:26:c9:27:14:17:e2:38:f2:2d:ee:74:6d:11:a3:3c:b8:1a:fa:17:cc:50
2023-02-23 12:09:27,204 mod_sftp/1.1.1[528459]: sending publickey OK
2023-02-23 12:09:27,208 mod_sftp/1.1.1[528459]: public key SHA256 fingerprint: fb:9f:e5:7d:0c:da:01:4f:19:8c:8
7:26:c9:27:14:17:e2:38:f2:2d:ee:74:6d:11:a3:3c:b8:1a:fa:17:cc:50
2023-02-23 12:09:27,209 mod_sftp_sql/0.4[528459]: SQLNamedQuery 'get-user-authorized-keys' returned 1 row
2023-02-23 12:09:27,209 mod_sftp/1.1.1[528459]: sending acceptable userauth methods: password,publickey
2023-02-23 12:09:27,213 mod_sftp/1.1.1[528459]: public key SHA256 fingerprint: d6:0f:e8:3f:c7:03:55:e1:8e:83:1
d:07:e6:f7:7e:51:e8:ab:9f:e6:52:16:18:7e:08:b5:43:4b:91:93:41:58
2023-02-23 12:09:27,213 mod_sftp/1.1.1[528459]: sending publickey OK
2023-02-23 12:09:27,217 mod_sftp/1.1.1[528459]: public key SHA256 fingerprint: fb:9f:e5:7d:0c:da:01:4f:19:8c:8
7:26:c9:27:14:17:e2:38:f2:2d:ee:74:6d:11:a3:3c:b8:1a:fa:17:cc:50
2023-02-23 12:09:27,217 mod_sftp/1.1.1[528459]: sending publickey OK
2023-02-23 12:09:27,221 mod_sftp/1.1.1[528459]: public key SHA256 fingerprint: fb:9f:e5:7d:0c:da:01:4f:19:8c:8
7:26:c9:27:14:17:e2:38:f2:2d:ee:74:6d:11:a3:3c:b8:1a:fa:17:cc:50
2023-02-23 12:09:27,222 mod_sftp_sql/0.4[528459]: SQLNamedQuery 'get-user-authorized-keys' returned 1 row
2023-02-23 12:09:27,222 mod_sftp/1.1.1[528459]: publickey request reused previously verified publickey (finger
print fb:9f:e5:7d:0c:da:01:4f:19:8c:87:26:c9:27:14:17:e2:38:f2:2d:ee:74:6d:11:a3:3c:b8:1a:fa:17:cc:50), reject
ing
2023-02-23 12:09:27,222 mod_sftp/1.1.1[528459]: sending userauth failure; remaining userauth methods: password
,publickey
2023-02-23 12:09:27,223 mod_sftp/1.1.1[528459]: Maximum login attempts (1) exceeded, refusing connection for u
ser 'sftptest2'
2023-02-23 12:09:27,223 mod_sftp/1.1.1[528459]: disconnecting 172.25.4.175 (Application disconnected)
```

Logs with just SFTPAuthMethods publickey+password:
```
2023-02-23 12:30:49,267 mod_sftp/1.1.1[528714]: using '/data/hostkeys/ssh_host_ecdsa_key' as 256-bit ECDSA hos
tkey (256 bits)
2023-02-23 12:30:49,275 mod_sftp/1.1.1[528714]: client (172.25.4.175:37914) connected to server (172.25.215.94
:44)
2023-02-23 12:30:49,276 mod_sftp/1.1.1[528714]: sent server version 'SSH-2.0-FTP Server ready.'
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]: received client version 'SSH-2.0-OpenSSH_7.4'
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]: handling connection from SSH2 client 'OpenSSH_7.4'
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]:  + Session key exchange: ecdh-sha2-nistp256
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]:  + Session host key algorithm: ecdsa-sha2-nistp256
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]:  + Session server hostkey: ecdsa-sha2-nistp256
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]:  + Session client-to-server encryption: aes128-ctr
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]:  + Session server-to-client encryption: aes128-ctr
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]:  + Session client-to-server MAC: umac-128-etm@openssh.com
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]:  + Session server-to-client MAC: umac-128-etm@openssh.com
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]:  + Session client-to-server compression: none
2023-02-23 12:30:49,277 mod_sftp/1.1.1[528714]:  + Session server-to-client compression: none
2023-02-23 12:30:49,287 mod_sftp/1.1.1[528714]: sending acceptable userauth methods: publickey
2023-02-23 12:30:49,291 mod_sftp/1.1.1[528714]: public key SHA256 fingerprint: fb:9f:e5:7d:0c:da:01:4f:19:8c:8
7:26:c9:27:14:17:e2:38:f2:2d:ee:74:6d:11:a3:3c:b8:1a:fa:17:cc:50
2023-02-23 12:30:49,291 mod_sftp/1.1.1[528714]: sending publickey OK
2023-02-23 12:30:49,295 mod_sftp/1.1.1[528714]: public key SHA256 fingerprint: fb:9f:e5:7d:0c:da:01:4f:19:8c:8
7:26:c9:27:14:17:e2:38:f2:2d:ee:74:6d:11:a3:3c:b8:1a:fa:17:cc:50
2023-02-23 12:30:49,296 mod_sftp_sql/0.4[528714]: SQLNamedQuery 'get-user-authorized-keys' returned 1 row
2023-02-23 12:30:49,296 mod_sftp/1.1.1[528714]: sending acceptable userauth methods: password
2023-02-23 12:30:53,410 mod_sftp/1.1.1[528714]: sending userauth success
2023-02-23 12:30:53,410 mod_sftp/1.1.1[528714]: user 'sftptest2' authenticated via 'password' method
2023-02-23 12:30:53,412 mod_sftp/1.1.1[528714]: 'env' channel request: 'LANG' = 'en_US.UTF-8'
2023-02-23 12:30:53,412 mod_sftp/1.1.1[528714]: 'subsystem' channel request for 'sftp' subsystem
2023-02-23 12:30:53,413 mod_sftp/1.1.1[528714]: using SFTP protocol version 3 for this session (channel ID 0)
```

It's a bit of a philosophical issue, for does a "login attempt" include _all required multiple authentication_ methods, or just _one_ of them?  At what point do we want to impose a limit on deliberately-bad acting clients (which is really what `MaxLoginAttempts` is there to do)?

That said, I do see the point in having partial success reduce the allowed methods to those remaining in the chain. I can work on that.

Note to self: be careful about how this is done, as there are valid configurations such as:
```
SFTPAuthMethods publickey+publickey
```
where multiple different keys are required for a user.

I'm reproducing this behavior locally...and now I'm not sure whether there's anything to change here.  First, the background reading; see [RFC 4252, Section 5.1](https://www.rfc-editor.org/rfc/rfc4252#section-5.1).  What `mod_sftp` is doing is not _incorrect_, per se, just surprising.

With most of the comma-separated lists defined in the SSH protocol, the expected behavior is that both sides pick the first matching item _in order_ (left to right).  In this particular case, what _I_ find surprising is that OpenSSH, even when receiving this from `mod_sftp`, still sends the publickey _first_, not password:
```
2023-02-23 12:09:27,209 mod_sftp/1.1.1[528459]: sending acceptable userauth methods: password,publickey
2023-02-23 12:09:27,213 mod_sftp/1.1.1[528459]: public key SHA256 fingerprint: d6:0f:e8:3f:c7:03:55:e1:8e:83:1
d:07:e6:f7:7e:51:e8:ab:9f:e6:52:16:18:7e:08:b5:43:4b:91:93:41:58
2023-02-23 12:09:27,213 mod_sftp/1.1.1[528459]: sending publickey OK
```
In my opinion, it is this OpenSSH behavior which is the root cause of this particular unexpected behavior.

What's not great about just sending "remaining acceptable authentication methods" is that the method name is too vague.  For example, "publickey" (after already sending a valid publickey) _could_ mean "send a different publickey _as well_".  But the name alone doesn't provide enough context for a client to know this.  That's the second perhaps surprising behavior.  This, in fact, is how `mod_sftp` supports a way to require multiple public keys for a user:
```
SFTPAuthMethods publickey+publickey
```

@offsides For my curiosity, is there a reason you need both:
```
SFTPAuthMethods publickey+password password+publickey
```
_vs_ just using:
```
SFTPAuthMethods publickey+password
```