Auth sources providing space-bearing user/group names cause compliance issues with `MLSD`/`MLST` responses

### What I Did

Logged into the server using WinSCP and FileZilla over FTPS. Got an improper directory listing that violates the RFCs. (A set of incomplete Facts are shown as part of the file / directory name.) Attempting to change into one of the listed directories or downloading a listed file fails.

### What I Expected/Wanted
A proper directory listing that allows clients to determine the correct names for the directories and files.

### ProFTPD Version and Configuration
Installed from Debian 11 repository.
```
Compile-time Settings:
  Version: 1.3.7a (maint)
  Platform: LINUX [Linux 5.10.0-10-arm64 aarch64]
  Built: Sat Sep 18 2021 21:42:19 UTC
  Built With:
    configure  '--infodir=/share/info' '--disable-option-checking' '--disable-silent-rules' '--libdir=/lib/aarch64-linux-gnu' '--disable-dependency-tracking' '--prefix=/usr' '--with-pkgconfig=lib/pkgconfig' '--with-includes=/usr/include/postgresql:/usr/include/mariadb:/usr/include/mariadb/mysql' '--mandir=/usr/share/man' '--sysconfdir=/etc/proftpd' '--localstatedir=/run' '--libexecdir=/usr/lib/proftpd' '--enable-sendfile' '--enable-facl' '--enable-dso' '--enable-autoshadow' '--enable-ctrls' '--enable-openssl' '--enable-ipv6' '--enable-nls' '--enable-memcache' '--with-lastlog=/var/log/lastlog' '--enable-pcre' '--disable-strip' '--enable-redis' '--build' 'aarch64-linux-gnu' '--with-shared=mod_unique_id:mod_site_misc:mod_load:mod_ban:mod_quotatab:mod_sql:mod_sql_mysql:mod_sql_postgres:mod_sql_sqlite:mod_sql_odbc:mod_dynmasq:mod_quotatab_sql:mod_ldap:mod_quotatab_ldap:mod_ratio:mod_tls:mod_rewrite:mod_radius:mod_wrap:mod_wrap2:mod_wrap2_file:mod_wrap2_sql:mod_quotatab_file:mod_quotatab_radius:mod_facl:mod_ctrls_admin:mod_copy:mod_deflate:mod_ifversion:mod_geoip:mod_exec:mod_sftp:mod_sftp_pam:mod_sftp_sql:mod_shaper:mod_sql_passwd:mod_ifsession:mod_auth_otp:mod_tls_redis:mod_wrap2_redis:mod_redis:mod_memcache:mod_tls_memcache:mod_readme:mod_snmp:mod_digest:mod_ident:mod_log_forensic:mod_qos:mod_statcache:mod_tls_fscache:mod_tls_shmcache:mod_dnsbl' 'build_alias=aarch64-linux-gnu' 'CFLAGS=-g -O2 -ffile-prefix-map=/build/proftpd-dfsg-0IwRLN/proftpd-dfsg-1.3.7a+dfsg=. -fstack-protector-strong -Wformat -Werror=format-security' 'LDFLAGS=-Wl,-z,relro -Wl,-z,now' 'CPPFLAGS=-Wdate-time -D_FORTIFY_SOURCE=2' 'CXXFLAGS=-g -O2 -ffile-prefix-map=/build/proftpd-dfsg-0IwRLN/proftpd-dfsg-1.3.7a+dfsg=. -fstack-protector-strong -Wformat -Werror=format-security'

  CFLAGS: -g2 -g -O2 -ffile-prefix-map=/build/proftpd-dfsg-0IwRLN/proftpd-dfsg-1.3.7a+dfsg=. -fstack-protector-strong -Wformat -Werror=format-security -Wall -fno-omit-frame-pointer -fno-strict-aliasing -Werror=implicit-function-declaration
  LDFLAGS: -L$(top_srcdir)/lib -L$(top_builddir)/lib -Wl,-z,relro -Wl,-z,now -rdynamic  -L/usr/lib/aarch64-linux-gnu/ -L/usr/lib/aarch64-linux-gnu
  LIBS: -lacl  -lpcreposix -lpcre -lssl -lcrypto -lsodium -lcap  -lpam -lsupp -lattr -lnsl -lresolv -lresolv -lcrypt -ldl -lhiredis -lmemcachedutil -lmemcached  -pthread

  Files:
    Configuration File:
      /etc/proftpd/proftpd.conf
    Pid File:
      /run/proftpd.pid
    Scoreboard File:
      /run/proftpd.scoreboard
    Header Directory:
      /usr/include/proftpd
    Shared Module Directory:
      /usr/lib/proftpd

  Info:
    + Max supported UID: 4294967295
    + Max supported GID: 4294967295

  Features:
    + Autoshadow support
    + Controls support
    + curses support
    - Developer support
    + DSO support
    + IPv6 support
    + Largefile support
    + Lastlog support
    + Memcache support
    + ncursesw support
    + NLS support
    + OpenSSL support (OpenSSL 1.1.1k  25 Mar 2021)
    + PCRE support
    + POSIX ACL support
    + Redis support
    + Sendfile support
    + Shadow file support
    + Sodium support
    + Trace support
    + xattr support

  Tunable Options:
    PR_TUNABLE_BUFFER_SIZE = 1024
    PR_TUNABLE_DEFAULT_RCVBUFSZ = 8192
    PR_TUNABLE_DEFAULT_SNDBUFSZ = 8192
    PR_TUNABLE_ENV_MAX = 2048
    PR_TUNABLE_GLOBBING_MAX_MATCHES = 100000
    PR_TUNABLE_GLOBBING_MAX_RECURSION = 8
    PR_TUNABLE_HASH_TABLE_SIZE = 40
    PR_TUNABLE_LOGIN_MAX = 256
    PR_TUNABLE_NEW_POOL_SIZE = 512
    PR_TUNABLE_PATH_MAX = 4096
    PR_TUNABLE_SCOREBOARD_BUFFER_SIZE = 80
    PR_TUNABLE_SCOREBOARD_SCRUB_TIMER = 30
    PR_TUNABLE_SELECT_TIMEOUT = 30
    PR_TUNABLE_TIMEOUTIDENT = 10
    PR_TUNABLE_TIMEOUTIDLE = 600
    PR_TUNABLE_TIMEOUTLINGER = 10
    PR_TUNABLE_TIMEOUTLOGIN = 300
    PR_TUNABLE_TIMEOUTNOXFER = 300
    PR_TUNABLE_TIMEOUTSTALLED = 3600
    PR_TUNABLE_XFER_SCOREBOARD_UPDATES = 10
```
### Additional Info:

This server was setup to use SSSD against Active Directory as its PAM authentication mechanism. As such group names like "Domain Users" (Notice the space between the words.) exist on the host and are returned by `getent`. The RFCs forbid spaces in the facts of a returned file / directory listing, but it appears that proftpd is blindly copying the results from the filesystem into the FTP response data. 

As the FTP directory listing shows
`users@EXAMPLE.COM;UNIX.mode=0770;owner=123456789;UNIX.ownerName=bob@EXAMPLE.COM; a_directory` in the GUIs of both clients used.

Looking at the `ls -l output` on the server we get:
```
drwxrwx---+ 4 bob@EXAMPLE.COM domain users@EXAMPLE.COM 4096 Jan 10 00:00 a_directory
```
It seems that the space after "domain" caused the clients to interpret the remaining facts data as the directory name.


I see.  This will _force_ ProFTPD to have to juggle between RFCs and auth sources (like LDAP) that will disagree -- and it means that however this is addressed, it will look wrong to someone, making things harder to debug.  There's really no good solution for this; it'll be a hack.

As a potential workaround, `mod_facts` should have a way to configure the explicit list of facts that `mod_facts` returns by default to exclude the problematic fact.

However, clients could request their own requested facts via `OPTS MLST` command, and might undo this.  Unless you also then block that command...

In terms of RFC compliance, the pertinent text in [RFC 3659](https://datatracker.ietf.org/doc/html/rfc3659) is in Section 7.4, [Format of Facts](https://datatracker.ietf.org/doc/html/rfc3659#section-7.4) says:
> The facts are a series of keyword=value pairs each followed by semi-colon (";") characters.  An individual fact may not contain a semi-colon in its name or value.  The complete series of facts may not contain the space character.  See the definition or "RCHAR" in section 2.1 for a list of the characters that can occur in a fact value.

Servers wanting to workaround this issue can use the [DirFakeUser](http://www.proftpd.org/docs/directives/linked/config_ref_DirFakeUser.html) and [DirFakeGroup](http://www.proftpd.org/docs/directives/linked/config_ref_DirFakeGroup.html) config options for the time being, but doing so means clients won't be able to see ownership information. I've done this on my setup and can confirm that it does work.

[ListOptions "+n"](http://www.proftpd.org/docs/directives/linked/config_ref_ListOptions.html) doesn't work however. Although it will change the standard group fact to the reported GID on the server, it will also add a **UNIX.groupname** fact to the entry with the non-compliant group name.

As for a potential fix, would it be possible to reuse the TVFS encoding method? Or create something similar to urlencode using a colon ':' for the terminator instead of a semicolon ';' which would be invalid? (Taking inspiration from Apache.)

I suggest this because [RFC 3659 Section 6.1 TVFS File Names](https://datatracker.ietf.org/doc/html/rfc3659#section-6.1) says:

>    Where a server implements the TVFS, no elementary file name shall
   contain the character "/".  Where the underlying natural file store
   permits files, or directories, to contain the "/" character in their
   names, a server-PI implementing TVFS must encode that character in
   some manner whenever file or directory names are being returned to
   the user-PI, and reverse that encoding whenever such names are being
   accepted from the user-PI.

> The encoding method to be used is not specified here.  Where some
other character is illegal in file and directory names in the
underlying file store, a simple transliteration may be sufficient.
Where there is no suitable substitute character a more complex
encoding scheme, possibly using an escape character, is likely to be
required.

This is the same problem just with a different character. I.e. '/' instead of space. I'd assume that any future RFC that addresses this issue _should_ build off of the preexisting solutions.

As a current workaround, you can configure the `mod_facts` module to skip/omit the `UNIX.ownername`, `UNIX.groupname` facts by using _e.g._:
```
<IfModule mod_facts.c>
  FactsOptions NoNames
</IfModule>
```
while I work on a more proper handling of this situation.

Now, in master, you can use the new `FactsDefault` directive to explicitly configure the list of facts that `mod_facts` will use by default, rather than just using `FactsOptions NoNames` as a workaround.

In addition, `mod_facts` will automatically convert any space characters in the user/group names to `_` characters.  While not ideal, I feel that using _e.g._ URL encoding, or anything more complex/configurable, is not needed at this time; I'd like to see what use cases come up where such automatic substitution is not sufficient.

Thanks for reporting the issue!